<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Your Pizza</h1>

<p><b>Size:</b> {{size}}</p>
<p><b>Toppings:</b> {{toppingCount}}</p>
<p><b>Gluten-Free Crust:</b> {{glutenFreeCrust}}</p>
<p><b>Special Instructions:</b> {{specialInstructions}}</p>
<p><b>Price:</b> ${{price}}</p>

{{#if freeDelivery}}
<p>Because your order meets the $15.00 minimum, you get FREE DELIVERY!</p>
{{/if}}

<img src="ship.png" alt="ship flying words say on the way">
<div id="linksConfirmation">
    <a href="/custom">Build another pizza</a> | <a href="/">Back to Homepage</a>
</div>

</body>
</html>



